<p>
  <audio controls autoplay>
      <source src= "/audio/Extreme Ode to Joy.mp3" type="audio/mpeg">
Your browser does not support the audio element.
   </audio>
</p>
<% @article.update_attribute(:sound_count, @article.project_time) %>

