<h1>All Projects</h1>

<ul id="articles">
    <% @articles.each do |article| %>
        <li>
            <%= link_to article.title, article_path(article) %>
        </li>
    <% end %>
</ul>

<%= link_to "Create a New Project", new_article_path, class: "new_article" %>

